* {
  padding: 0;
  margin: 0;
}
/* header */
.table-data {
  width: 100%;
  padding: 0px 70px;
  background-color: rgba(9, 9, 9, 0.921);
}
.Header-item {
  padding: 10px 10px;
}
.Header-item a {
  color: rgba(255, 255, 255, .8);
  text-decoration: none;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01em;
}
.apple-icon{
  height: 2.5vh;
}
.search-icon{
  height: 2.2vh;
}
.shop-icon{
  height: 3.3vh;
}

/* section 1 */
.section-1-image {
  height: 89vh;
  background-image: url(Images/section-1-bg.jpg);
  background: size 25 0px;
  background-position: center;
}
.section-1-content{
  padding: 20px;
  text-align: center;
  background-color: black;
  color: #ffffff;
}
/* section 2 */
.section-2-image {
  padding: 30px 0px;
  margin: 15px 0px;
  height: 80vh;
  background-image: url(Images/section-2-bg.jpg);
  background: size 25 0px;
  background-position: center;
}
.section-2-content {
  margin: 0px;
  padding: 15px;
  text-align: center;
  background: color #d2d2d7;
  color: black;
  overflow: auto;
}

/* section 3 */
.section-3-image {
  background-color: black;
  padding: 30px 0px;
  margin: 15px 0px;
  height: 80vh;
  background-image: url(Images/section-3-bg.jpg);
  background: size 25 0px;
  background-position: center;
}
.section-3-content {
  margin: 0px;
  padding: 25px;
  text-align: center;
  color: white;
  overflow: auto;
}

/* section 4 */
.section-4 {
  width: 100%;
  margin: 15px 0;
}
.section-4-left {
   padding: 30px 0px;
   width: 49%;
   float: left;
   margin-left: 10px;
   height: 80vh;
   background-image: url(Images/section-4-left-image.jpg);
   background: size 25 0px;
   background-position: center;

}
.section-4-left-content {
  margin: 0px;
  padding: 12px;
  text-align: center;
  line-height:1.3;
  color: black;
}
.section-4-right {
  background-color: #ffffff;
  padding: 30px 0px;
  margin-left: 51%;
  width: 48%;
  height: 80vh;
  background-image: url(Images/section-4-right-image.jpg);
  background: size 25 0px;
  background-position: center;
}
.section-4-right-content {
  margin-top: 250px;
  padding-top: 100px;
  text-align: center;
  line-height: 1;
  color: black; 
}
 /* section 5 */
.section-5 {
  width: 100%;
  margin: 15px 0;
}
.section-5-left {
  padding: 30px 0px;
  width: 49%;
  float: left;
  margin-left: 10px;
  height: 80vh;
  background-image: url(Images/section-5-left-image.jpg);
  background: size 25 0px;
  background-position: center;
}
.section-5-left-content {
  margin: 0px;
  padding: 12px;
  text-align: center;
  line-height:1.3;
  color: black;
}
.section-5-right {
  background-color: #ffffff;
  padding: 30px 0px;
  margin-left: 51%;
  width: 48%;
  height: 80vh;
  background-image: url(Images/section-5-right-image.jpg);
  background: size 25 0px;
  background-position: center;
}
.section-5-right-content {
  margin: 0px;
  padding: 12px;
  text-align: center;
  line-height:1.5;
  color: white;
}
 /* section-6 */
 .section-6 {
  width: 100%;
  margin: 15px 0;
}
.section-6-left {
  padding: 30px 0px;
  width: 49%;
  float: left;
  margin-left: 10px;
  height: 80vh;
  background-image: url(Images/section-6-left-image.jpg);
  background: size 25 0px;
  background-position: center;
}
.section-6-left-content {
  margin: 0px;
  padding: 12px;
  text-align: center;
  line-height:1.3;
  color: black;
}
.section-6-right {
  background-color: #ffffff;
  padding: 30px 0px;
  margin-left: 51%;
  width: 48%;
  height: 80vh;
  background-image: url(Images/section-6-right-image.jpg);;
  background: size 25 0px;
  background-position: center;
}
.section-6-right-content {
  margin: 0px;
  padding: 12px;
  text-align: center;
  line-height:1.5;
  color: white;
}

/* footer */
.footer-section {
  background: #f5f5f7;
  padding: 5px 150px;
}
.footer-section-para {
  padding: 5px 0px;
  text-align: justify;
}
.footer-section-table {
  border: 1px solid transparent;
  border-top-color: #d2d2d7;
  padding: 5px 0;
}
.footer-table-data {
 vertical-align: top;
}
.table-footer {
  width: 100%;
}
ul li {
  list-style: none;
}
.footer-heading-list {
  font-size: 1em;
  color: #1d1d1f;
  padding: 5px 0;
}
.footer-text {
  font-size: 1em;
  color: #6e6e73;
}
.footer-text-underline {
  color: #424245;
}

.footer-text-list {
  font-size: 1em;
  color: #6e6e73;
  padding: 5px 0;
}
.footer-text-list:hover {
  text-decoration: underline;
}
.pera-text-underline {
  color: rgb(52, 182, 226);
}

/* font heading */
.heading-1-white {
  font-size: 3em;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  line-height: 1.4em;
  color: #ffffff;
}
.heading-2-white{
  font-size: 1.5em;
  font-style: normal;
  font-weight: 200;
  font-family: "Roboto", sans-serif;
  line-height: 1em;
  color: #ffffff;
}
.heading-1-black {
  font-size: 3em;
  font-family: "Roboto", sans-serif;
  line-height: 1.4em;
  color: #000000;
}
.heading-2-black{
  font-size: 1.5em;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 1em;
  color: #000000;
}
.heading-3-black {
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4em;
  color: #000000;
}
.heading-3-white {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;
    color:#ffffff;
  }
  .heading-4 {
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    color:rgb(120, 117, 117);
  }
/* font text */
.text {
  border: 2px solid green;
  font-size: 20px;
}
.text-blue2 {
  color: rgb(52, 182, 226);
  font-weight: bold;
  text-decoration: none;
}
.text-next2 {
  padding: 5px;
}
.text-next {
  padding: 10px 20px;
}
.text-blue {
  color: rgb(52, 182, 226);
  font-weight: bold;
  text-decoration: none;
}
.text-blue:hover {
  border: 1px solid transparent;
  border-bottom-color: rgb(52, 182, 226);
}
.text-blue-icon {
  color: rgb(52, 182, 226);
  padding: 0 15px 0 3px;
}

